
.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-auto-rows: 387px; */
  column-gap: 1em;
  row-gap: 1em;
}

.grid-item img {
  transition: filter 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  filter: grayscale(1);
}

.grid-item:hover img {
  filter: none;
}

.grid-item:nth-child(5) img {
  filter: grayscale(0.5);
}



.grid-product-info {
  display: flex;
  justify-content: space-between;
}

.grid-product-info a {
  text-decoration: none;
  color: var(--text-black);
}



.product-grid .grid__item {
  padding-bottom: 2rem;
}

.product-grid.negative-margin {
  margin-bottom: -2rem;
}

@media screen and (min-width: 750px) {
  .product-grid .grid__item {
    padding-bottom: calc(5rem + var(--page-width-margin));
  }

  .product-grid.negative-margin {
    margin-bottom: calc(-5rem - var(--page-width-margin));
  }

  .product-grid.negative-margin--small {
    margin-bottom: calc(-1rem - var(--page-width-margin));
  }
}
